@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;600;700&family=Google+Sans+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;500;600;700&family=Product+Sans+Text:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Google Sans Text', sans-serif;
  background: #fff;
  color: #333;
}
